# Preprocessing

In [ ]:
import pandas as pd
data = pd.read_csv('data/foodytest_8_1.csv')

In [ ]:
data.isna().sum()

name                 0
price                0
avgpoint             0
category             0
location             0
num_reviews          0
dish_categories      0
time_open            8
dieu_hoa             0
bong_da              0
wifi                 0
cuisines           220
dtype: int64

In [ ]:
data = data.dropna()

In [ ]:
data['cuisines'].notna().sum()

687

In [ ]:
data.head(2)

,name,price,avgpoint,category,location,num_reviews,dish_categories,time_open,dieu_hoa,bong_da,wifi,cuisines
0,Sushi Garden,50.000đ - 150.000đ,7.2,Quán ăn,"310 Nguyễn Trãi, P. Thanh Xuân Trung, Quận Tha...",67,"Lẩu, Sushi & Sashimi, Salad, Ăn vặt - Ăn nhẹ, ...",10:00 - 22:00,1,0,1,"Set Cá Hồi, Lươn-159,000|Set Nigiri Tổng Hợp-1..."
1,Cuốn N Roll Restaurant - Giảng Võ,40.000đ - 468.000đ,7.1,Nhà hàng,"Tầng 3 Tòa Nhà D2, Giảng Võ, P. Giảng Võ, Quận...",64,"Heo quay, Bún, Lẩu, Món Huế, Ăn vặt - Ăn nhẹ",17:00 - 21:30 | 09:00 - 13:30,1,0,1,"Giỏ Quà Tết Yêu Thương-458,000|Cốt Lẩu Chua Ca..."

In [ ]:
data['price'] = data['price'].str.replace("đ","")
data['price'] = data['price'].str.replace(".","")
data[['min_price','max_price']] = data['price'].str.split('-',expand=True)
data['max_price'] = data['max_price'].astype(int)
data['min_price'] = data['min_price'].astype(int)
data['avg_price'] = data[['min_price', 'max_price']].mean(axis=1)

data['menu'] = data['cuisines'].copy()
data['cuisines'] = data['dish_categories'] + '; ' + data['cuisines']
data['cuisines'] = data['cuisines'].str.replace('|','')
data['cuisines'] = data['cuisines'].str.replace('-','')
data['cuisines'] = data['cuisines'].str.replace(',','')
data['cuisines'] = data['cuisines'].str.replace('\d+','')
data.head(2)

,name,price,avgpoint,category,location,num_reviews,dish_categories,time_open,dieu_hoa,bong_da,wifi,cuisines,min_price,max_price,avg_price,menu
0,Sushi Garden,50000 - 150000,7.2,Quán ăn,"310 Nguyễn Trãi, P. Thanh Xuân Trung, Quận Tha...",67,"Lẩu, Sushi & Sashimi, Salad, Ăn vặt - Ăn nhẹ, ...",10:00 - 22:00,1,0,1,Lẩu Sushi & Sashimi Salad Ăn vặt Ăn nhẹ Cơm N...,50000,150000,100000.0,"Set Cá Hồi, Lươn-159,000|Set Nigiri Tổng Hợp-1..."
1,Cuốn N Roll Restaurant - Giảng Võ,40000 - 468000,7.1,Nhà hàng,"Tầng 3 Tòa Nhà D2, Giảng Võ, P. Giảng Võ, Quận...",64,"Heo quay, Bún, Lẩu, Món Huế, Ăn vặt - Ăn nhẹ",17:00 - 21:30 | 09:00 - 13:30,1,0,1,Heo quay Bún Lẩu Món Huế Ăn vặt Ăn nhẹ; Giỏ Q...,40000,468000,254000.0,"Giỏ Quà Tết Yêu Thương-458,000|Cốt Lẩu Chua Ca..."

In [ ]:
from text_prep import text_prosessing
data['cuisines'] = data['cuisines'].apply(text_prosessing)

In [ ]:
data.to_csv('data/dss_data_prep.csv', index=False)

In [ ]:
data_new = data[['name','avgpoint','avg_price','num_reviews']].copy()

In [ ]:
data_new.head()

                                name  avgpoint  avg_price  num_reviews
0                       Sushi Garden       7.2   100000.0           67
1  Cuốn N Roll Restaurant - Giảng Võ       7.1   254000.0           64
2                    Mì Gia Tiến Đạt       7.6    37500.0           18
3          Phở Gà 95 - Doãn Kế Thiện       7.0    37500.0            1
4      Bánh Cuốn Phủ Lý - Đào Duy Từ       7.0    42500.0            9

In [ ]:
data_new = data_new[data_new['num_reviews'] >= 10]
data_new = data_new.reset_index(drop=True)

In [ ]:
data_new

,name,avgpoint,avg_price,num_reviews
0,Sushi Garden,7.2,100000.0,67
1,Cuốn N Roll Restaurant - Giảng Võ,7.1,254000.0,64
2,Mì Gia Tiến Đạt,7.6,37500.0,18
3,The Alley - Trà Sữa Đài Loan - Khúc Thừa Dụ,6.5,55500.0,13
4,Hải Sản Hương Lan - Nghĩa Dũng,6.5,127500.0,107
...,...,...,...,...
356,Gateaux De Mia - Tiệm Bánh Mia - Shop Online,7.5,300000.0,55
357,Aaron9 - Grill & Smoked Turkey - Đào Duy Từ,8.7,164000.0,16
358,Cộng Cà Phê - Hàng Điếu,7.1,35000.0,21
359,Hạnh - Hải Sản Tươi Sống,3.7,75000.0,10
360,Phở Cường - Hàng Muối,6.6,29000.0,33

In [ ]:
data_new.to_csv('data/topsis_data.csv',index=False)

<h3> Transform string into time dtype </h3>

In [ ]:
from datetime import datetime
def timeTransform(data):
    data['time_open'].head(2)
    data_new = data.copy()
    data_new[['time1','time2']] = data_new['time_open'].str.split('|',1, expand = True)
    data_new[["start_time1","end_time1"]] = data_new["time1"].str.split('-', 1, expand=True)
    data_new[["start_time2","end_time2"]] = data_new["time2"].str.split('-', 1, expand=True)
    data_new["start_time1"] = data_new["start_time1"].str.split().str.join(' ')
    data_new["start_time2"] = data_new["start_time1"].str.split().str.join(' ')
    data_new["end_time1"] = data_new["end_time1"].str.split().str.join(' ')
    data_new["end_time2"] = data_new["end_time2"].str.split().str.join(' ')
    for i in range(data_new.shape[0]):
        try:
            try: 
                data_new["start_time2"].iloc[i] = datetime.strptime(data_new["start_time2"].iloc[i], '%H:%M').time()
                data_new["end_time2"].iloc[i] = datetime.strptime(data_new["end_time2"].iloc[i], '%H:%M').time()
            finally: 
                data_new["start_time1"].iloc[i] = datetime.strptime(data_new["start_time1"].iloc[i], '%H:%M').time()
                data_new["end_time1"].iloc[i] = datetime.strptime(data_new["end_time1"].iloc[i], '%H:%M').time()
        except: continue
    return data_new

In [ ]:
type(data_new['start_time1'].iloc[1])

datetime.time