# Preprocessing

In [20]:
import pandas as pd
data = pd.read_csv('../data/foodytest_8_1.csv')

In [21]:
data.isna().sum()

name                 0
price                0
avgpoint             0
category             0
location             0
num_reviews          0
dish_categories      0
time_open            8
dieu_hoa             0
bong_da              0
wifi                 0
cuisines           220
dtype: int64

In [22]:
data = data.dropna()

In [23]:
data['cuisines'].notna().sum()

687

In [24]:
data.head(2)

,name,price,avgpoint,category,location,num_reviews,dish_categories,time_open,dieu_hoa,bong_da,wifi,cuisines
0,Sushi Garden,50.000đ - 150.000đ,7.2,Quán ăn,"310 Nguyễn Trãi, P. Thanh Xuân Trung, Quận Tha...",67,"Lẩu, Sushi & Sashimi, Salad, Ăn vặt - Ăn nhẹ, ...",10:00 - 22:00,1,0,1,"Set Cá Hồi, Lươn-159,000|Set Nigiri Tổng Hợp-1..."
1,Cuốn N Roll Restaurant - Giảng Võ,40.000đ - 468.000đ,7.1,Nhà hàng,"Tầng 3 Tòa Nhà D2, Giảng Võ, P. Giảng Võ, Quận...",64,"Heo quay, Bún, Lẩu, Món Huế, Ăn vặt - Ăn nhẹ",17:00 - 21:30 | 09:00 - 13:30,1,0,1,"Giỏ Quà Tết Yêu Thương-458,000|Cốt Lẩu Chua Ca..."

In [25]:
data['price'] = data['price'].str.replace("đ","")
data['price'] = data['price'].str.replace(".","")
data[['min_price','max_price']] = data['price'].str.split('-',expand=True)
data['max_price'] = data['max_price'].astype(int)
data['min_price'] = data['min_price'].astype(int)
data['avg_price'] = data[['min_price', 'max_price']].mean(axis=1)

data['menu'] = data['cuisines'].copy()
data['cuisines'] = data['dish_categories'] + '; ' + data['cuisines']
data['cuisines'] = data['cuisines'].str.replace('|'," ")
data['cuisines'] = data['cuisines'].str.replace('-'," ")
data['cuisines'] = data['cuisines'].str.replace(','," ")
data['cuisines'] = data['cuisines'].str.replace('\d+'," ")
data.head(2)

,name,price,avgpoint,category,location,num_reviews,dish_categories,time_open,dieu_hoa,bong_da,wifi,cuisines,min_price,max_price,avg_price,menu
0,Sushi Garden,50000 - 150000,7.2,Quán ăn,"310 Nguyễn Trãi, P. Thanh Xuân Trung, Quận Tha...",67,"Lẩu, Sushi & Sashimi, Salad, Ăn vặt - Ăn nhẹ, ...",10:00 - 22:00,1,0,1,Lẩu Sushi & Sashimi Salad Ăn vặt Ăn nhẹ ...,50000,150000,100000.0,"Set Cá Hồi, Lươn-159,000|Set Nigiri Tổng Hợp-1..."
1,Cuốn N Roll Restaurant - Giảng Võ,40000 - 468000,7.1,Nhà hàng,"Tầng 3 Tòa Nhà D2, Giảng Võ, P. Giảng Võ, Quận...",64,"Heo quay, Bún, Lẩu, Món Huế, Ăn vặt - Ăn nhẹ",17:00 - 21:30 | 09:00 - 13:30,1,0,1,Heo quay Bún Lẩu Món Huế Ăn vặt Ăn nhẹ; ...,40000,468000,254000.0,"Giỏ Quà Tết Yêu Thương-458,000|Cốt Lẩu Chua Ca..."

In [26]:
data['cuisines'].head(20)

0     Lẩu  Sushi & Sashimi  Salad  Ăn vặt   Ăn nhẹ  ...
1     Heo quay  Bún  Lẩu  Món Huế  Ăn vặt   Ăn nhẹ; ...
2     Bún  Hủ tiếu  Mì  Món nước  Sủi cảo  Dimsum; M...
3     Thịt Gà  Phở  Món nước  Cháo  Miến; Quẩy     P...
4     Bánh ướt  Bún  Bánh   Kẹo  Bánh cuốn  Ăn vặt  ...
5     Cơm; Cơm Niêu Bò Sốt     Cơm Niêu Cá Kho Tộ   ...
7     Bánh   Kẹo; Happy Day BC        Bánh cưới mẫu ...
8     Vịt tiềm  Lẩu  Thịt Vịt  Ăn vặt   Ăn nhẹ  Nem ...
11    Bún  Thịt Heo  Món nước  Ăn vặt   Ăn nhẹ  Nem;...
12    Trà  Sinh tố   Nước ép  Thức uống  Trà sữa  Sữ...
15    Hải sản; Hàu Sữa Nướng Mỡ Hành     Mực Râu Xào...
18    Bún  Lẩu  Cơm văn phòng  Cơm; Bún Bò Huế Số   ...
19    Bánh   Kẹo; Bánh Giò Sống     Bánh Tẻ Sống    ...
20    Mì  Cháo  Súp  Pizza & Pasta  Salad  Cơm  Fast...
21    Bánh   Kẹo  Ăn vặt   Ăn nhẹ; Sweet potato peti...
22    Bún  Món nước; Coca Cola chỉ  Đ     Bún Bò Trộ...
23    Đậu hũ  Chè  Ăn vặt   Ăn nhẹ; Chè thập cẩm    ...
24    Bún  Ăn vặt   Ăn nhẹ  Nem; Bún Chả     Nem Thị...
25    Thịt Gà  Lẩu  Thức uống; Cháo Gà     Suất Gà  ...
26    Bún  Hải sản  Món nước  Nghêu   Sò   Ốc ; Bún ...
Name: cuisines, dtype: object

In [27]:
from text_prep import text_prosessing
data['cuisines'] = data['cuisines'].apply(text_prosessing)

In [28]:
data['cuisines'].head(20)

0     lẩu sushi sashimi salad ăn vặt ăn nhẹ cơm nem ...
1     heo quay bún lẩu món huế ăn vặt ăn nhẹ giỏ quà...
2     bún hủ tiếu mì món nước sủi cảo dimsum mì vằn ...
3     thịt gà phở món nước cháo miến quẩy phở gà phở...
4     bánh ướt bún bánh kẹo bánh cuốn ăn vặt ăn nhẹ ...
5     cơm cơm niêu bò sốt cơm niêu cá kho tộ cơm niê...
7     bánh kẹo haPy day bc bánh cưới mẫu bánh cưới m...
8     vịt tiềm lẩu thịt vịt ăn vặt ăn nhẹ nem cá bò ...
11    bún thịt heo món nước ăn vặt ăn nhẹ nem bún ch...
12    trà sinh tố nước ép thức uống trà sữa sữa sữa ...
15    hải sản hàu sữa nướng mỡ hành mực râu xào cay ...
18    bún lẩu cơm văn phòng cơm bún bò huế số bún bò...
19    bánh kẹo bánh giò sống bánh tẻ sống bánh tro b...
20    mì cháo súp piZa pasta salad cơm fastfOd thức ...
21    bánh kẹo ăn vặt ăn nhẹ swEt potato petit 미니 고구...
22    bún món nước coca cola chỉ đ bún bò trộn nam b...
23    đậu hũ chè ăn vặt ăn nhẹ chè thập cẩm caramen ...
24    bún ăn vặt ăn nhẹ nem bún chả nem thịt chả thê...
25    thịt gà lẩu thức uống cháo gà suất gà kèm xôi ...
26    bún hải sản món nước nghêu sò ốc bún ốc bò giò...
Name: cuisines, dtype: object

In [30]:
data.to_csv('../data/dss_data_prep.csv', index=False)

In [ ]:
data_new = data[['name','avgpoint','avg_price','num_reviews']].copy()

In [ ]:
data_new.head()

                                name  avgpoint  avg_price  num_reviews
0                       Sushi Garden       7.2   100000.0           67
1  Cuốn N Roll Restaurant - Giảng Võ       7.1   254000.0           64
2                    Mì Gia Tiến Đạt       7.6    37500.0           18
3          Phở Gà 95 - Doãn Kế Thiện       7.0    37500.0            1
4      Bánh Cuốn Phủ Lý - Đào Duy Từ       7.0    42500.0            9

In [ ]:
data_new = data_new[data_new['num_reviews'] >= 10]
data_new = data_new.reset_index(drop=True)

In [ ]:
data_new

,name,avgpoint,avg_price,num_reviews
0,Sushi Garden,7.2,100000.0,67
1,Cuốn N Roll Restaurant - Giảng Võ,7.1,254000.0,64
2,Mì Gia Tiến Đạt,7.6,37500.0,18
3,The Alley - Trà Sữa Đài Loan - Khúc Thừa Dụ,6.5,55500.0,13
4,Hải Sản Hương Lan - Nghĩa Dũng,6.5,127500.0,107
...,...,...,...,...
356,Gateaux De Mia - Tiệm Bánh Mia - Shop Online,7.5,300000.0,55
357,Aaron9 - Grill & Smoked Turkey - Đào Duy Từ,8.7,164000.0,16
358,Cộng Cà Phê - Hàng Điếu,7.1,35000.0,21
359,Hạnh - Hải Sản Tươi Sống,3.7,75000.0,10
360,Phở Cường - Hàng Muối,6.6,29000.0,33

In [ ]:
data_new.to_csv('data/topsis_data.csv',index=False)

<h3> Transform string into time dtype </h3>

In [31]:
from datetime import datetime
def timeTransform(data):
    data['time_open'].head(2)
    data_new = data.copy()
    data_new[['time1','time2']] = data_new['time_open'].str.split('|',1, expand = True)
    data_new[["start_time1","end_time1"]] = data_new["time1"].str.split('-', 1, expand=True)
    data_new[["start_time2","end_time2"]] = data_new["time2"].str.split('-', 1, expand=True)
    data_new["start_time1"] = data_new["start_time1"].str.split().str.join(' ')
    data_new["start_time2"] = data_new["start_time1"].str.split().str.join(' ')
    data_new["end_time1"] = data_new["end_time1"].str.split().str.join(' ')
    data_new["end_time2"] = data_new["end_time2"].str.split().str.join(' ')
    for i in range(data_new.shape[0]):
        try:
            try: 
                data_new["start_time2"].iloc[i] = datetime.strptime(data_new["start_time2"].iloc[i], '%H:%M').time()
                data_new["end_time2"].iloc[i] = datetime.strptime(data_new["end_time2"].iloc[i], '%H:%M').time()
            finally: 
                data_new["start_time1"].iloc[i] = datetime.strptime(data_new["start_time1"].iloc[i], '%H:%M').time()
                data_new["end_time1"].iloc[i] = datetime.strptime(data_new["end_time1"].iloc[i], '%H:%M').time()
        except: continue
    return data_new

In [ ]:
type(data_new['start_time1'].iloc[1])

datetime.time

In [42]:
from datetime import datetime
from time_transform import timeTransform
import pandas as pd

data = pd.read_csv('../data/dss_data_prep.csv')
data_new = timeTransform(data)
# timeDataFrame(data)

c:\Users\hlong\pyver\py37\my_env\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [43]:
data_new.head()

,name,price,avgpoint,category,location,num_reviews,dish_categories,time_open,dieu_hoa,bong_da,...,min_price,max_price,avg_price,menu,time1,time2,start_time1,end_time1,start_time2,end_time2
0,Sushi Garden,50000 - 150000,7.2,Quán ăn,"310 Nguyễn Trãi, P. Thanh Xuân Trung, Quận Tha...",67,"Lẩu, Sushi & Sashimi, Salad, Ăn vặt - Ăn nhẹ, ...",10:00 - 22:00,1,0,...,50000,150000,100000.0,"Set Cá Hồi, Lươn-159,000|Set Nigiri Tổng Hợp-1...",10:00 - 22:00,None,10:00:00,22:00:00,10:00:00,None
1,Cuốn N Roll Restaurant - Giảng Võ,40000 - 468000,7.1,Nhà hàng,"Tầng 3 Tòa Nhà D2, Giảng Võ, P. Giảng Võ, Quận...",64,"Heo quay, Bún, Lẩu, Món Huế, Ăn vặt - Ăn nhẹ",17:00 - 21:30 | 09:00 - 13:30,1,0,...,40000,468000,254000.0,"Giỏ Quà Tết Yêu Thương-458,000|Cốt Lẩu Chua Ca...",17:00 - 21:30,09:00 - 13:30,17:00:00,21:30:00,17:00:00,13:30:00
2,Mì Gia Tiến Đạt,35000 - 40000,7.6,Quán ăn,"1 Lê Duẩn, Quận Ba Đình, Hà Nội",18,"Bún, Hủ tiếu, Mì, Món nước, Sủi cảo, Dimsum",14:00 - 00:00,0,0,...,35000,40000,37500.0,"Mì Vằn Thắn Nước-55,000|Mì Vằn Thắn Trộn-55,00...",14:00 - 00:00,None,14:00:00,00:00:00,14:00:00,None
3,Phở Gà 95 - Doãn Kế Thiện,25000 - 50000,7.0,Quán ăn,"95 Doãn Kế Thiện, P. Mai Dịch, Quận Cầu Giấy, ...",1,"Thịt Gà, Phở, Món nước, Cháo, Miến",06:00 - 22:00,0,0,...,25000,50000,37500.0,"Quẩy-6,000|Phở Gà-40,000|Phở Bò-40,000|Phở Gà ...",06:00 - 22:00,None,06:00:00,22:00:00,06:00:00,None
4,Bánh Cuốn Phủ Lý - Đào Duy Từ,30000 - 55000,7.0,Quán ăn,"39 Đào Duy Từ, Quận Hoàn Kiếm, Hà Nội",9,"Bánh ướt, Bún, Bánh - Kẹo, Bánh cuốn, Ăn vặt -...",07:00 - 14:30,0,0,...,30000,55000,42500.0,"Bánh Cuốn Hành Phi Thịt Nướng-35,000|Bánh Cuốn...",07:00 - 14:30,None,07:00:00,14:30:00,07:00:00,None

In [ ]:
data_new.to_csv("../data/data_time_transformed.csv", index= False)